asgiref @ file:///tmp/build/80754af9/asgiref_1625643473416/work
black @ file:///home/conda/feedstock_root/build_artifacts/black-recipe_1638105566468/work
certifi==2021.10.8
click @ file:///D:/bld/click_1635822757640/work
colorama @ file:///home/conda/feedstock_root/build_artifacts/colorama_1602866480661/work
dataclasses @ file:///home/conda/feedstock_root/build_artifacts/dataclasses_1628958434797/work
dj-database-url==0.5.0
Django @ file:///tmp/build/80754af9/django_1625585912945/work
django-heroku==0.3.1
django-js-asset==1.2.2
django-mptt @ file:///home/conda/feedstock_root/build_artifacts/django-mptt_1632758568076/work
djangorestframework @ file:///home/conda/feedstock_root/build_artifacts/djangorestframework_1616757768152/work
gunicorn==20.1.0
isort @ file:///home/conda/feedstock_root/build_artifacts/isort_1636447814597/work
mypy-extensions @ file:///D:/bld/mypy_extensions_1635839923397/work
olefile==0.46
pathspec @ file:///home/conda/feedstock_root/build_artifacts/pathspec_1626613672358/work
Pillow==8.4.0
platformdirs @ file:///home/conda/feedstock_root/build_artifacts/platformdirs_1630400214373/work
psycopg2 @ file:///C:/ci/psycopg2_1612298766762/work
python-dotenv @ file:///home/conda/feedstock_root/build_artifacts/python-dotenv_1636649191224/work
pytz==2021.3
regex @ file:///D:/bld/regex_1636504281500/work
sqlparse @ file:///tmp/build/80754af9/sqlparse_1602184451250/work
tomli @ file:///home/conda/feedstock_root/build_artifacts/tomli_1635181214134/work
typed-ast @ file:///D:/bld/typed-ast_1636834441378/work
typing-extensions @ file:///tmp/build/80754af9/typing_extensions_1631814937681/work
whitenoise @ file:///home/conda/feedstock_root/build_artifacts/whitenoise_1626463713199/work
wincertstore==0.2
